output/
clones/
.DS_Store
*.h5
*.xdmf
*.vtu
*.pvd
*.png
*.csv
*.bp/
src/coupled/
src/coupled_100_15mmHg_0.05/
src/coupled_old/
*.txt
*.pyc
__pycache__/
*.msh
*.geo
*.pvtu
src/solves/darcy_BDM.py
src/solves/darcy_P1.py
src/solves/generate_1d_deck.py
