output/
clones/
.DS_Store
*.h5
*.xdmf
*.vtu
*.pvd
*.png
*.csv
*.bp/
*.avi
*.npz
src/optimize/timeseries/
src/optimize/plot_0d_results_at_slices.py
src/optimize/plot_0d_results_to_3d.py
src/solves/out_*
src/coupled/
src/coupled_1d_0d/
src/coupled_1d_1d/
src/coupled_both/
src/coupled_keep/
src/coupled_100_15mmHg_0.05/
src/coupled_old/
src/coupled_*
*.txt
*.pyc
__pycache__/
*.msh
*.geo
*.pvtu
src/solves/darcy_BDM.py
src/solves/generate_1d_deck.py
